<style>
.main-sidebar,.main-footer,.main-header{
	display: none;
}
</style>
<div class="content-wrapper  pb-4 " style="text-align:center">
	<h1 style="color:#fff">
		<img src="/assets/images/404_image.png"> 
	</h1> 		
</div>
