<style style="text/css">
    .content-wrapper{ padding-left: 15px; padding-right:15px;}
     .nav-second-level.collapse.admin{display: block;}
    .dataTables_wrapper .dataTables_paginate .paginate_button{ padding:0px !important;}
    /*.mm_usersSubmenudropdown{display: block;}*/
    .main_home,.main_count,.main_supplychain,.main_zplprinter{
        display: none;
    }
</style>  

<div class="content-wrapper  pb-4 dashboard-change">
   
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-1">
            <div class="card">
                <div class="card-header">
                    <div class="left d-inline-block">
                        <h4 class="mb-0"> <i class="fa fa-user" class="simpleIcon" style="color:#000">
                        </i> Audit</h4>
                        <p class="mb-0 dateTime"></p>
                    </div>
                    <div class="right d-inline-block float-right mt-2">
                         
                        <img src="/assets/images/count/Group 9.png" height="30px">
                        <span style="cursor:pointer" class="button_print">
                            <img src="/assets/images/count/Icon feather-printer.png" height="30px" class="ml-1 mr-1">
                        </span>
                        
                         <span style="cursor:pointer" class="buttons_excel2">
                            <img src="/assets/images/count/Group 10.png" height="30px">
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row custom-filter">
                            <h4 class="light d-inline-block mr-4 mb-0">Filters</h4>
                            <div class="col-md-2">
                                <form action="" > 
                                   

                                    <div class="form-group">
                                        {{!-- <label for="UserName">User Name</label> --}}
                                       <input type="text"  class="form-control" name="retail_cyclecount_id" id="retail_cyclecount_id" placeholder="Retail Cyclecount" autocomplete="off">
                                    </div>

                                </form> 
                            </div>
                            <div class="col-md-2">
                                <form>
                                     <div class="form-group">
                                        {{!-- <label for="UserName">User Name</label> --}}
                                        <select 
                                        name="LogType" class="form-control selectpicker" 
                                        id="LogType" data-live-search="true" autocomplete="off">
                                            <option value="0">Select Log</option>
                                        </select>
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="col-md-2">
                                <form>
                                     <div class="form-group">
                                        {{!-- <label for="UserName">User Name</label> --}}
                                        <select 
                                        name="StoreID" class="form-control selectpicker" 
                                        id="StoreID" data-live-search="true" autocomplete="off">
                                            <option value="0">Select Store</option>
                                        </select>
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="col-md-2">
                                 <input  class="form-control d-inline-block datepicker22" 
                                  name="date" 
                                valid='Date' id="date" placeholder="Ex: yyyy-mm-dd" autocomplete="off">
                            </div>
                            
                               

                           

                            <div class="col-md-2">
                                <div class="form-group">          
                                    <button type="button" 
                                    class="btn btn-danger btn-md run  btn-block" 
                                    >Search</button>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group"> 
                                <label>Uae Time</label>       
                                    <input type="checkbox" 
                                    class="form-control" 
                                    id="uae_time"  
                                    name="uae_time"  
                                    style="width: 15px;">       
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">    
                                <label>Utc Time</label>      
                                    <input type="checkbox" 
                                    class="form-control" 
                                    id="utc_time"  name="utc_time"  
                                    style="width: 15px;">       
                                </div>
                            </div>

                                                      
                        </div>
                    </div>
                  
                    <div class="data-tables">
                        <div class="before_load_table">
                            <img src="/assets/images/waiting_before_table_load.gif">
                        </div>
                        <table id="dataTable" class="text-center mm-datatable" style="width: 100%;">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    <th>AuditId</th>
                                    <th>Audit Text</th>
                                    <th>Date</th>
                                    <th>Log Type</th>
                                    <th>Store Name</th>
                                    <th>Retail CycleCount</th>
                                    <th>Audit Json</th>
                                    <th>DeviceId</th>                                                               
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Dark table end -->
    </div>
</div> 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Stores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  id="UserInfo">
                <style type="text/css" media="screen">
                    .modal-body .load{
                        text-align: center;
                    }
                </style>
                <div class="edit-manage"></div>
                <div class="modal-body" style="max-height: 560px">
                    <div class="load">
                        <span class="waiting" style="display: none;">
                        <img src="https://i.postimg.cc/3xVJyMYr/Eclipse-1s-200px.gif" alt="" width='32px' height='32px'>
                    </span>   
                    </div>
                     
                   <div id="store_list">
                   
                   </div>                         
                </div>
            </form>
        </div>
    </div>
</div>       
