<style style="text/css">
    .content-wrapper{ padding-left: 15px; padding-right:15px;}
     .nav-second-level.collapse.admin{display: block;}   
    .dataTables_wrapper .dataTables_paginate .paginate_button{ padding:0px !important;}
    /*.mm_usersSubmenudropdown{display: block;}*/
    .main_home,.main_count,.main_supplychain,.main_zplprinter{
        display: none;
    }
</style>
<div class="content-wrapper pb-4"> 

    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-1">
            <div class="card">

                <div class="card-header">
                    <div class="left d-inline-block">

                        <h4 class="mb-0"> <i class="fa fa-home" style="color:#000"></i> Stock Summary Details</h4>


                        <p class="mb-0 dateTime"></p>
                    </div>
                    <div class="right d-inline-block float-right mt-2">
                       
                        <img src="/assets/images/count/Group 9.png" height="25px">
                       <span style="cursor:pointer" class="button_print">
                            <img src="/assets/images/count/Icon feather-printer.png" height="30px" class="ml-1 mr-1">
                        </span>
                        <span style="cursor:pointer" class="buttons_excel2">
                            <img src="/assets/images/count/Group 10.png" height="25px">
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="containe">
                        <div class="row custom-filter">
                            <h4 class="light d-inline-block mr-4 mb-0">Filters</h4>
                            <div class="col-md-2">
                                    <div class="form-group">
                                        <input class="form-control datepicker22" 
                                        style="color: #fff !important;width:160px !important;background:transparent;" 
                                        id="FromDate" 
                                        placeholder="From: yyyy-mm-dd" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input class="form-control datepicker22" 
                                        style="color: #fff !important;width:160px !important;background:transparent;" 
                                        id="ToDate" 
                                        placeholder="To: yyyy-mm-dd" autocomplete="off">
                                    </div>
                                </div>
                                 <div class="error Date_error" style="display: inline-block;position: absolute;left: 8%;top: 40%;"></div>
                            <div class="col-md-2">
                                <div class="form-group">   
                                    <select name="SoteID" class="form-control selectpicker" 
                                    id="StoreID" data-live-search="true">
                                        <option value="0">All Store</option>
                                    </select>
                                </div>
                            </div>

                        <div class="error Source_error" style="display:   inline-block;position: absolute;left: 75px;top: 128px;">                        
                        </div> 

                            <div class="col-md-4">
                                <button type="button" class="btn btn-danger btn-md run btn-block d-inline-block w-25">Search</button>
                            </div>

                            
                            
                        </div>
                    </div>

                    <div class="before_load_table">
                        <img src="/assets/images/waiting_before_table_load.gif">
                    </div>
                    <div class="data-tables">
                        <table id="dataTable" class="text-center mm-datatable" style="width: 100%;">
                            <thead class="bg-light text-capitalize">
                                <tr>
                                    
                                    <th>Date</th>
                                    <th>Store Name</th>
                                    <th>On hand</th>
                                    <th>Count</th>
                                    <th>Item Count Accuracy</th>
                                    <th>Operational Accuracy</th>
                                    <th>On hand Matching</th>
                                    <th>Unders</th>
                                    <th>Overs</th>                                                
                                    <th>Critical out of stock</th>
                                    <th>Front Store</th>
                                    <th>Back store</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Dark table end -->
    </div>
</div>        