<style style="text/css">
    .content-wrapper{ padding-left: 15px; padding-right:15px;}
    /*.mm_usersSubmenudropdown{display: block;}*/
    .dataTables_wrapper .dataTables_paginate .paginate_button{ padding:0px !important;}
</style>
<div class="content-wrapper pb-4">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-1">
            <div class="card">

                <div class="card-header">
                    <div class="left d-inline-block">
                        <h4 class="mb-0 store_name"> <i class="ti-stats-up" style="color:#000"></i> 
                        Store Payload</h4>
                        <p class="mb-0 dateTime"></p>
                    </div>
                    <div class="right d-inline-block float-right mt-2">
                        <img src="/assets/images/count/Group 9.png" height="30px">
                         <span style="cursor:pointer" class="button_print">
                            <img src="/assets/images/count/Icon feather-printer.png" height="30px" class="ml-1 mr-1">
                        </span>

                        <span style="cursor:pointer" class="buttons_excel2">
                            <img src="/assets/images/count/Group 10.png" height="30px">
                        </span>
                    
                    </div>
                </div>
                <div class="card-body">
                    <div class="before_load_table">
                        <img src="/assets/images/waiting_before_table_load.gif">
                    </div>
                    <div class="data-tables">
                        <table id="dataTable" class="text-center mm-datatable">
                            <thead class="bg-light text-capitalize">
                                <tr>               
                                    {{!-- <th>Date</th>
                                    <th>Store</th>
                                    <th>IOT total</th> --}}
                                    <th>Payload</th>                                       
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table end -->
    </div>
</div>